*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    outline: none;
}

body {
    font-family: "Comic Sans MS", "Hack", "Courier New", monospace;
}

input[type=text],
input[type=date],
input[type=time] {
    border: 1px black solid;
    width: 80px;
    background-color: transparent;
    font-size: 1.1em;
    line-height: 1em;
    padding: 4px 2px;
    height: 1.5em;
}

a {
    color: black;
    text-decoration: none;
}

input.small {
    width: 26px;
}

.all-center {
    border-collapse: collapse;
}

.all-center td {
    border-color: silver;
    border-style: dotted;
    border-width: 0 1px;
}

.all-center td.head {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

.all-center,
.all-center th,
.all-center td {
    text-align: center;
    padding: 1px 6px;
}

button {
    border: 1px black solid;
    background-color: transparent;
    box-shadow: 0 0 1px 1px white;
    border-radius: 3px;
    height: 1.5em;
}

button:hover,
button:active,
button:focus {
    box-shadow: 0 0 2px 1px gray;
}

body {
    padding: 0;
    margin: 0;
}

img {
    box-shadow: 0 0 2px 2px white;
    margin: 2px 4px;
}

a:hover img,
a:active img,
a:focus img {
    box-shadow: 0 0 2px 2px gray;
}

#main_div {
    width: 100%;
}

#headline_div {
    display: block;
    text-align: center;
    font-size: 3em;
    width: 100%;
}

#abstand1_div {
    width: 10%;
    display: inline-block;
}

#abstand2_div {
    width: 80%;
    border-bottom: 2px black solid;
    box-shadow: 0 0 2px white;
    height: 0px;
    text-align: center;
    display: inline-block;
    margin: 4px 0;
}

#indata_div {
    width: 100%;
    text-align: center;
}

#indata {
    display: inline-table;
}

#info_div {
    text-align: center;
    margin-top: 1.1em;
}

#info {
    display: inline-table;
    font-family: sans-serif;
}

.content {
    width: 100%;
    text-align: center;
}

.content code {
    font-size: 1.5em;
}

.content p {
    margin: 6px 0;
}

#corner-top-right {
    overflow: visible;
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    padding: 5px 10px;
}

#infoSmall {
    display: none;
    font-family: sans-serif;
}

@media screen and (max-width:1024px) {
    #abstand1_div {
        width: calc( (100% - 768px) / 2);
    }
    #abstand2_div {
        width: 768px;
    }
}


/* dunkel.css */

body {
    background-color: black;
    color: white;
}

a {
    color: white;
}

input[type=text],
input[type=date],
input[type=time] {
    border: 1px solid #EEE;
    background-color: black;
    color: white;
}

button {
    color: white;
    box-shadow: 0 0 1px 1px black;
    border-color: #EEE;
}

button:hover,
button:active,
button:focus {
    box-shadow: 0 0 1px 1px silver;
    color: white;
    background-color: #333;
}

img {
    box-shadow: 0 0 2px 2px black;
}

a:hover img,
a:focus img,
a:active img {
    box-shadow: 0 0 2px 2px silver;
}

#info,
#infoSmall {
    font-family: monospace;
    font-size: 1.3em;
    font-weight: bold;
}


/* media querys */

@media screen and (max-width:768px) {
    #abstand1_div {
        display: none;
    }
    #abstand2_div {
        width: 100%;
    }
    /* #body {
        width: 768px;
    } */
    input[type=text],
    input[type=date],
    input[type=time] {
        font-size: 1em;
    }
    #help_frame {
        display: none;
    }
    #infoSmall {
        display: inline-table;
    }
    #info {
        display: none;
    }
    body {
        font-size: 16px;
    }
}

.disabled {
    color: #666;
}

.disabled:hover,
.disabled:active,
.disabled:focus {
    color: #999;
    background-color: #333;
}

.hidden {
    display: none;
}
